<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="border: solid;">
        <thead>
            <tr>
                <th>Player</th>
                <th>Start</th>
                <th>Stop</th>
                <th>DL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><audio id="player" controls src=""></audio></td>
                <td><button id="start">Start</button></td>
                <td><button id="stop">Stop</button></td>
                <td><a id="dl">DL</a></td>
            </tr>
        </tbody>
    </table>
    <script src="../static/js/main.js" type="module"></script>
</body>
</html>